<header>
    <h1>Articles X Articles</h1>
    <h3>My name is <%= @name %></h3>
    <p>I have  <mark><%= Article.public_count %></mark> public articles </p>
</header>
<main>
    <ul>
        <% @articles.each do |article| %>
            <% unless article.archived? %>
                <li><%= link_to article.title, article %></li>
            <%end  %>
        <% end %>
    </ul>

    <nav>
        <%= link_to "Add new article", new_article_path %>
    </nav>
</main>